APP_ID=<YOUR_DISCORD_APP_ID>
DISCORD_TOKEN=<YOUR_DISCORD_APP_TOKEN>
PUBLIC_KEY=<YOUR_DISCORD_APP_PUBLIC_KEY>
GEMINI_KEY=<YOUR_API_KEY>
OLLAMA_URL=<YOUR_OLLAMA_URL>
OLLAMA_MODEL=<YOUR_OLLAMA_MODEL_NAME>
