# DISCORD APP
APP_ID=<YOUR_DISCORD_APP_ID>
DISCORD_TOKEN=<YOUR_DISCORD_APP_TOKEN>
DISCORD_CLIENT_SECRET=<YOUR_DISCORD_CLIENT_SECRET>
PUBLIC_KEY=<YOUR_DISCORD_APP_PUBLIC_KEY>

# DASHBOARD ADMIN
SUPERADMIN_ID=<YOUR_DISCORD_USER_ID>

# API KEY OF GEMINI
GEMINI_KEY=<YOUR_API_KEY>

# FALLBACK OLLAMA
OLLAMA_URL=<YOUR_OLLAMA_URL>
OLLAMA_MODEL=<YOUR_OLLAMA_MODEL_NAME>
OLLAMA_ONLY=false

# WEB DASHBOARD & MEDIA
MEDIA_DOMAIN=<YOUR_DOMAIN_FILES>
DASHBOARD_DOMAIN=<YOUR_DASHBOARD_DOMAIN>

# VOSK (Speech Recognition)
DEFAULT_LANG=es

# LAVALINK & MUSIC
LAVALINK_HOST=layla-lavalink
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false
SPOTIFY_ENABLED=false
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
POT_REFRESH_INTERVAL=1800
DEFAULT_VOLUME=100
